body {
	margin: 0;
	/*height: 100vh*/
	font-family: 'Flamenco', cursive;
}

.landing-image {
	background-image: url('imgs/landing.jpeg');
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.lazyload {
	opacity: 0;
	/*display: none !important;*/
}

.lazyloaded {
	opacity: 1;
	transition: opacity 2.5s; 
}

.logo {
	/*padding-top: 10px;*/
	opacity: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	display: block;
	font-size: 4.8vh;
}

.why {
	margin: 0;
	background-image: url('imgs/why-image.jpeg');
	height: 100vh;
	background-position: 66% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	background-attachment: fixed;
}

.why-content {
	display: inline-block;
	line-height: 1.4;
	font-size: 2.5vh;
	font-weight: 400;
	color: white;
	padding: 30px;
	text-align: center;
	background-color: rgba(102, 102, 102, 0.4);
	align-self: center;
	width: 70%;
	height: auto;
	-webkit-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
}

.how {
	background-image: url('imgs/how-image.jpeg');
	height: 100vh;
	background-position: 33% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	background-attachment: fixed;
}

.how-content {
	display: inline-block;
	line-height: 1.4;
	font-size: 2.5vh;
	font-weight: 400;
	color: white;
	padding: 30px;
	text-align: center;
	background-color: rgba(102, 102, 102, 0.4);
	align-self: center;
	width: 70%;
	height: auto;
	-webkit-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
}

.footer-image {
	background-position: 30% 50%;
	background-image: url("imgs/footer-image.jpeg");
	height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.call-to-action {
	padding-left: 30px;
	height: 40vh;
	background-color: black;
	color: white;
	-webkit-box-shadow: 0px -5px 10px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -5px 10px 3px rgba(0,0,0,0.75);
	box-shadow: 0px -5px 10px 3px rgba(0,0,0,0.75);
}

.footer-title {
	font-size: 4vh;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 25px;
}

.contact-info-link {
	font-size: 3vh;
	padding-bottom: 15px;
	padding-left: 30px;
	text-align: left;
	text-decoration: underline;
	color: inherit;	
}

@media only screen and (min-width : 770px) {

	.logo {
		width: 30%;
		float: right;
		padding-right: 30px;
		padding-top: 30px; 
		display: block;
	}

	.down-arrow {
		width: 20%;
		display: block;
	}

	.landing-image {
		background-image: url('imgs/landing.jpeg');
		background-repeat: no-repeat;
		background-size: cover;
	}	

	.how, .why {
			justify-content: left;
	}

	.how-content, .why-content {
		width: 50%
	}

}