.services-image {
	background-image: url('imgs/services-image.png');
	height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.services-content {
	color: white;
}

.services-title {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
	font-weight: 700;
	font-size: 7vh;
}

.service-item {
	text-align: center;
	padding-bottom: 30px;
	font-size: 3vh;
}

.services-call-to-action {
	height: 40vh;
	background-color: black;
	color: white;
	/*position: fixed;*/
	bottom: 0;
}

.services-footer-title {
	font-size: 4vh;
	text-align: left;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 3px;

}

.subhead {
	text-align: left;
	font-size: 2.5vh;
	padding-left: 30px;
	padding-bottom: 25px;
}

.contact-info {
	padding-left: 30px;
	text-align: left;
	font-size: 3vh;
	padding-bottom: 15px;
}